
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color:white;
  margin:0;
  font-family: 'Poppins', sans-serif;
}


.App{
  display: flex;
  flex-wrap: wrap;
}

.movie{
  width: 300px;
}

.movie img{
  max-width: 100%;
}
